.navContainer { 
    background-color:transparent;
    position: fixed;
    z-index: 3;
    width: 100vw;
}

.navButton { 
    margin: 0.5% !important;
    float: left;
    color: Black !important;
    background-color: white !important;
}

.login { 
    background-color: white !important;
    margin: .5% !important;
    margin-right: 2% !important;
    float: right;
    color: Black !important;
}

.active {
    background-color: rgba(199, 0, 57, .8) !important;
    color: white !important;
}
